{
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env"
        ],
        "@babel/preset-react"
      ]
    }
  },
  "ignore": [],
  "presets": [
    [
      "@babel/preset-env"
    ],
    "@babel/preset-react"
  ]
}
