// File for scss-vars.
// For example: main colors, paddings and so on.

$FontRobotoBold: 'Roboto Bold', Helvetica, Arial, sans-serif;
$FontRobotoBoldItalic: 'Roboto BoldItalic', Helvetica, Arial, sans-serif;

$FontRobotoRegular: 'Roboto Regular', Helvetica, Arial, sans-serif;
$FontRobotoItalic: 'Roboto Italic', Helvetica, Arial, sans-serif;

